[defaults]    #기본 동작 설정
inventory      = /local_backup/ansible-project/hosts
roles_path    = /local_backup/ansible-project/roles
forks = 50
host_key_checking = False
pipelining = True
interpreter_python = auto_silent


[privilege_escalation]   #권한 상승 설정
become = True
become_method = sudo
become_user = root 














































[inventory]




[privilege_escalation]

[paramiko_connection]





[ssh_connection]




pipelining = True






[persistent_connection]



[accelerate]



[selinux]


[colors]


[diff]

