---
- name : 기존서버 데이터삭제
  hosts: localhost
  user: zlxpf
  become: true
  become_method: sudo 

  vars_prompt:
    - name: old_web_ip
      prompt: "구 웹서버 IP를 입력해주세요."
      private: no 
    - name: domain_name
      prompt: "임시도메인을 입력해주세요. (ex. test.firstmall.kr)"
      private: no
    - name: old_db_ip
      prompt: "구 DB서버 IP를 입력해주세요."
      private: no
    - name: db_name
      prompt: "DB 이름을 입력해주세요."
      private: no


#공통변수 설정(하위 roles에서 사용)
  tasks:
    - name: 1.홈 디렉터리 
      shell: | 
        cat /etc/passwd | grep {{ domain_name }} | awk -F ':' '{split($6,a,"/"); print a[3]}'
      register: homedir_name
      delegate_to: "{{ old_web_ip }}"
    - name: homedir_name debug
      debug: 
        var: homedir_name.stdout


    - name: 2.계정명 
      shell: "awk -F: '$6 == \"/www/{{ homedir_name.stdout }}/data\" {print $1}' /etc/passwd"
      register: account_name
      delegate_to: "{{ old_web_ip }}"
    - name: account_name debug
      debug: 
        var: account_name.stdout
    

    - name: 3.아파치 conf 경로
      shell: |
        if [ -e "/etc/httpd/conf/{{ domain_name }}.conf" ]; then
          echo "/etc/httpd/conf/"
        else
          echo "/usr/local/apache/conf/"
        fi
      register: conf_path
      delegate_to: "{{ old_web_ip }}"
    - name: conf_path debug
      debug: 
        var: conf_path.stdout


    - name: 4.대표도메인 SSL 정보(구 서버)
      shell: |
        count=$(grep -w ServerName {{ conf_path.stdout }}/{{ domain_name }}.conf | grep -v "firstmall.kr" | wc -l)
        ssl_domain=$(grep -w ServerName {{ conf_path.stdout }}/{{ domain_name }}.conf | grep -v "firstmall.kr" | awk '{print $2}')
        echo "$count"
        echo "$ssl_domain"
      register: ssl_info
      delegate_to: "{{ old_web_ip }}"
    - name: ssl_info debug
      debug: 
        var: ssl_info.stdout_lines

    
    - name: 5.DB root password
      include_vars:
        file: /etc/ansible/roles/db/vars/password.yml



#roles 파일 (순차적으로 실행)
    - include_role: 
        name: web
        tasks_from: delete.yml
    - include_role: 
        name: db
        tasks_from: delete.yml
