---
- name : 웹&DB 서버이전
  hosts: localhost
  user: zlxpf
  become: true
  become_method: sudo 


  vars:
    new_web_ip: 121.78.197.53
    new_db_ip: 121.78.197.72
  
  vars_prompt:
    - name: old_web_ip
      prompt: "구 웹서버 IP를 입력해주세요."
      private: no 
    - name: domain_name
      prompt: "임시도메인을 입력해주세요. (ex. test.firstmall.kr)"
      private: no
    - name: old_db_ip
      prompt: "구 DB서버 IP를 입력해주세요."
      private: no
    - name: db_name
      prompt: "DB 이름을 입력해주세요."
      private: no


#공통변수 설정(하위 roles에서 사용)
  tasks:
    - name: 1.홈 디렉터리
      shell: |
        cat /etc/passwd | grep {{ domain_name }} | awk -F ':' '{split($6,a,"/"); print a[3]}'
      register: homedir_name
      delegate_to: "{{ old_web_ip }}"
    - name: homedir_name debug
      debug: 
        var: homedir_name.stdout    



    - name: 2.계정명
      shell: |
        cat /etc/passwd | grep {{ homedir_name.stdout }}/data | awk -F ':' '{print $1}' 
      register: account_name
      delegate_to: "{{ old_web_ip }}"
    - name: account_name debug
      debug:
        var: account_name.stdout
  

    
    - name: 3.아파치 conf  경로
      shell: |
        if [ -e "/etc/httpd/conf/vhost/{{ domain_name }}.conf" ]; then
          echo "/etc/httpd/conf/"
        else
          echo "/usr/local/apache/conf/"
        fi
      register: conf_path
      delegate_to: "{{ old_web_ip }}"
    - name: conf_path debug
      debug:
        var: conf_path.stdout



    - name: 4-1.대표도메인 SSL 정보 (구 서버)
      shell: |
        count=$(grep -w ServerName {{ conf_path.stdout }}/vhost/{{ domain_name }}.conf | grep -v "firstmall.kr" | wc -l)
        ssl_domain=$(grep -w ServerName {{ conf_path.stdout }}/vhost/{{ domain_name }}.conf | grep -v "firstmall.kr" | awk '{print $2}')
        echo "$count"        
        echo "$ssl_domain"
      register: old_ssl_info
      delegate_to: "{{ old_web_ip }}"
    - name: count와 ssl_domain 디버깅
      debug: 
        var: old_ssl_info.stdout_lines

    - name: 4-2.SSL account 값 (신 서버)
      shell: |
        ssl_account=$(ls /etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory)
        echo "$ssl_account"
      register: new_ssl_info
      delegate_to: "{{ new_web_ip }}"
    - name: ssl_account 디버깅
      debug:
        var: new_ssl_info.stdout_lines


    
    - name: 5.DB root password
      include_vars:
        file: /etc/ansible/roles/db/vars/password.yml



#roles 파일 (순차적으로 실행)
    - include_role: 
        name: web
        tasks_from: servermove_1.yml
    - include_role: 
        name: web
        tasks_from: servermove_2.yml
    - include_role: 
        name: db
        tasks_from: servermove.yml
